.cl-color-picker-content {
  display: flex;
  align-items: center;

  .cl-color-picker-disk {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 1px solid var(--cl-color-picker-disk-border-color);
    border-radius: 2px;
    cursor: pointer;

    .cl-color-picker-disk-content {
      height: 100%;
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;

      &__disabled {
        cursor: no-drop;
      }

      &-empty {
        width: 46px;
        box-sizing: border-box;
        border: 1px solid var(--cl-color-picker-disk-border-color);
        background: linear-gradient(
          to top right,
          rgba(151, 153, 156, 0) 0%,
          rgba(151, 153, 156, 0) calc(50% - 1.5px),
          rgba(151, 153, 156, 1) 50%,
          rgba(151, 153, 156, 0) calc(50% + 1.5px),
          rgba(151, 153, 156, 0) 100%
        );
      }
    }

    .cl-color-picker-disk-icon {
      width: 32px;
      height: 100%;
      box-sizing: border-box;
      text-align: center;
      background: var();
      color: var(--cl-color-picker-disk-icon-color);
      border-left: 1px solid var(--cl-color-picker-disk-border-color);
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: var(--cl-color-picker-disk-icon-hover-bg-color);
        color: var(--cl-color-primary-color);
      }

      &__disabled:hover {
        color: var(--cl-text-color-disabled);
        background: var(--cl-color-picker-disk-icon-hover-bg-color);
        cursor: no-drop;
      }
    }
  }

  .cl-color-picker-input {
    width: 96px;
    margin-left: 4px;

    .cl-input {
      width: 100%;
    }
  }

  .cl-color-picker-reset {
    margin-left: 9px;
    font-size: var(--cl-font-size-medium);
    font-weight: 500;
    color: var(--cl-color-picker-reset-color);

    .reset-cion {
      font-size: var(--cl-font-size-small);
    }

    &:hover {
      color: var(--cl-color-primary-color);
      cursor: pointer;
    }
  }
}

.cl-color-picker-content-size-default {
  .cl-color-picker-disk {
    height: 32px;
    line-height: 32px;

    .cl-color-picker-disk-icon {
      line-height: 32px;
    }

    .cl-color-picker-disk-content-empty {
      height: 28px;
    }
  }
}

.cl-color-picker-content-size-small {
  .cl-color-picker-disk {
    height: 24px;
    line-height: 24px;

    .cl-color-picker-disk-icon {
      line-height: 24px;
    }

    .cl-color-picker-disk-content-empty {
      height: 20px;
      width: 43px;
    }
  }

  .cl-color-picker-input {
    ::v-deep .cl-input {
      height: 24px;
      line-height: 24px;
      font-size: var(--cl-font-size-small);
    }
  }
}
