.cl-color-picker-predefine {
  width: 100%;
  margin-top: 4px;
}

.cl-color-picker-predefine-colors {
  display: flex;
  flex-wrap: wrap;

  .cl-color-picker-predefine-color {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    margin-right: 4px;
    box-shadow: 0 0 0 1px #d4d7dc;
    box-sizing: border-box;
    margin-bottom: 4px;
    cursor: pointer;

    &:nth-of-type(8n) {
      margin-right: 0;
    }
  }
}
