@use '../../../styles/mixins/utils' as *;
@use '../../../styles/mixins/config' as *;
@use '../../../styles/mixins/function' as *;

@include b(table) {
  position: relative;

  @include e(header-wrapper) {
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
  }
  @include e(footer-wrapper) {
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
  }
  @include e(body-wrapper) {
    flex: 1;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  @include e(inner-wrapper) {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  @include e(body) {
    color: #606266;
  }
  thead {
    color: #909399;
  }

  @include e(row) {
    background-color: #fff;
    @include m(striped) {
      tr,
      td {
        background: var(#{getCssVarName('table-row-striped-background-color')});
      }
    }
  }
  @include e(cell) {
    border-bottom: 1px solid #ebeef5;
    transition: background-color 0.25s ease;
    padding: 8px 0;
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left;
    z-index: var(--cl-table-index);
  }
  & .cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    overflow-wrap: break-word;
    line-height: 23px;
    padding: 0 12px;
  }
}
