@use '../../../styles/mixins/utils' as *;
@use '../../../styles/mixins/config/' as *;

.cl-form-item {
  display: flex;
  align-items: center;
  margin-bottom: 18px;

  &__label {
    font-size: var(--cl-form-label-font-size);
    color: var(--cl-form-label-color);
    padding: 0 12px 0 0;
  }
  &__label__left {
    text-align: left;
  }
  &__label__left {
    text-align: right;
  }
  &__label__top {
    text-align: left;
    margin-bottom: 8px;
    line-height: 22px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    line-height: 32px;
    position: relative;
    min-width: 0;
  }
  &__error-message {
    position: absolute;
    bottom: 0;
    top: 100%;
    font-size: var(--cl-form-error-message-font-size);
    color: var(--cl-form-error-message-color);
    line-height: 1;
    padding-top: 2px;
  }

  @include when(required) {
    @include pseudo('not(.is-no-asterisk)') {
      &.asterisk-left {
        > .#{$namespace}-form-item__label:before {
          content: '*';
          color: var(--cl-color-error);
          margin-right: 4px;
        }
      }
      &.asterisk-right {
        > .#{$namespace}-form-item__label:after {
          content: '*';
          color: var(--cl-color-error);
          margin-left: 4px;
        }
      }
    }
  }

  @include when(label-position__top){
    display: block;
  }
}

