@use '../../../styles/mixins/utils' as *;

.cl-button-group {
    flex-wrap: nowrap;
    display: inline-flex;
    position: relative;
    .cl-button {
        &:first-child:not(:last-child) {
            margin-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:last-child:not(:first-child) {
            margin-left: 0;
            border-top-left-radius:0;
            border-bottom-left-radius:0;
            border-left-width:0;
            .cl-button_border {
                border-left-width:0;
            }
            .cl-button_state-border {
                left: -1px;
            }
        }
        &:not(:first-child):not(:last-child) {
            margin-left: 0;
            margin-right:0;
            border-radius:0;
        }
        
        
    }
}